body{
    padding: 5% 10%;
}
nav{
    background-color: antiquewhite;
}
#content{
    border: 2px solid rgb(4, 0, 255);
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 2rem;
}
#mapbox{
    border: 2px solid rgb(255, 0, 255);
    order: 1;
    flex-grow: calc(2/3);
    height: 30rem;
}
#sidelist{
    border: 2px solid rgb(29, 182, 9);
    order: 3;
    flex-grow: calc(1/3);
}
