body{
    padding: 5% 10%;
}
nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
#content{
    border: 2px solid rgb(4, 0, 255);
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 2rem;
}
#mapbox{
    border: 2px solid rgb(255, 0, 255);
    order: 1;
    flex-grow: 1;
    height: 30rem;
}
#sidelist{
    border: 2px solid rgb(29, 182, 9);
    order: 3;
    flex-grow: 0.25;
}
#sidelist h2{
    text-align: center;
}
#sidelist ul{
    list-style-type: none;
    margin: 1rem;
    border: 1px solid black;
}